{% extends 'adminwys/layout' %}
{% block appStylos %}
    <!-- DataTables -->
    <link rel="stylesheet" href="assets/vendor/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/vendor/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}
{% block appBody %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listado de Usuarios</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="users">Principa Usuarios</a></li>
                        <li class="breadcrumb-item active">Listado de Usuario</li>
                        <li class="breadcrumb-item"></li>
                        <a class="btn btn-info btn-sm btn-flat" href="users/register_user" title="Agregar" data-toggle="tooltip">
                            <i class="fa fa-plus"></i> Agregar Usuario
                        </a>
                        <li class="breadcrumb-item"></li>
                    </ol>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="col col-md-12">
                <table id="table_listar_users" class="table table-striped nowrap"  style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nombre</th>
                            <th>E-Mail</th>
                            <th>Perfil</th>
                            <th>Inicio</th>
                            <th>ROL</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set No = 1 %}
                        {% for d in db_users if false != db_users %}
                            <tr>
                                <td>{{ No }}</td>
                                <td>{{ d.name|raw|title }}</td>
                                <td>{{ d.email }}</td>
                                <td>{{ d.perfil  }}</td>
                                <td>{{ d.pagina_inicio  }}</td>
                                <td>{{ d.rol ? "Admin":"Usuario"  }}</td>
                                <td class='text-center'>
                                    {% if d.estado == 1 %}
                                        <a data-toggle='tooltip' data-placement='top' title='Modificar' class='btn btn-success btn-sm' href="users/update_user/{{ d.id_user }}">
                                            <i class='fa fa-edit'></i>
                                        </a>
                                        <button type="button" id="btn_reset_pass" title='Reset Pass' class="btn btn-info btn-sm" data-toggle="modal" onclick="carga_modal_reset_pass('{{ d.id_user }}')">
                                            <i class='fa fa-cog'></i>
                                        </button>
                                        <a data-toggle='tooltip' data-placement='top' title='Revisar Perfil de Usuario' class='btn btn-info btn-sm' href="users/editar_perfil_user/{{ d.id_user }}">
                                        <i class='fa fa-list-alt'></i>
                                        </a>
                                        <a data-toggle='tooltip' data-placement='top' title='Suspender' class='btn btn-danger btn-sm' href="users/estado_user/{{ d.id_user }}">
                                        <i class='fa fa-power-off'></i>
                                        </a>
                                    {% else %}
                                        <a data-toggle='tooltip' data-placement='top' title='Activar' class='btn btn-warning btn-sm' href="users/estado_user/{{ d.id_user }}">
                                        <i class='fa fa-check'></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% set No =  No + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

    {% include 'users/modal_reset_pass_user' %}

{% endblock %}
{% block appScript %}
    <!-- DataTables -->
    <script src="assets/vendor/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/vendor/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/vendor/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/vendor/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    
    <script src="assets/jscontrollers/users/listar_users.js"></script>
    
{% endblock %}
